.name{
    text-align: center;
    font-style: italic;
    color: blueviolet;
}
.keya{
    background-color: blueviolet;
    font-size: 20px;
    font-style: italic;
}
.mitu{
    background-color:blueviolet;
    font-size: 20px;
    font-style: italic;
}
.mita{
    background-color: blueviolet;
    font-size: 20px;
    font-style: italic;
}
.ritu{
    background-color: blueviolet;
    font-size: 20px;
    font-style: italic;
}
.gita{
    background-color: blueviolet;
    font-size: 20px;
    font-style: italic;
}